SENTRYBOT_ROOT=__PROJECT_ROOT__
SENTRYBOT_HOST=0.0.0.0
SENTRYBOT_PORT=8080
SENTRYBOT_RUNTIME=raspberry_pi
SENTRYBOT_PROFILE=pi_robot
SENTRYBOT_AUTOSTART=1
SENTRYBOT_SAFE_BASE_MOTION=0
OLLAMA_HOST=http://127.0.0.1:11434
GOOGLE_API_KEY=
PYTHONUNBUFFERED=1
